@font-face{
	font-family: Protagonistas;
	src: url('../fuentes/Stroke.ttf');
}

body{
	background-color: #292d3e;
	font-weight: bold;
}

h1{
	text-align: center;
	font-size:3em;
	text-shadow:1px 2px #999;
	color: #FFFFFF;
	background: #292d3e;
	text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
	color: #FFFFFF;
}


#table tr{background: #393e54;}
#table tr:nth-child(2n+1){background: #292d3e;}

table{
	border-collapse: collapse;
	text-decoration: important;
    border-radius: 1px !important;
	border-collapse: collapse !important;
	border: none !important;
	color: #9e9d9d;
	text-align:center;
	font-weight: bold;
}

th,td{
	border: 0px solid #273259;
	border-radius: 15px;
	font-weight: bold;
}


p{
	margin-bottom:1.5em;
}

td{
	width:20px;
	height:20px;
	font-weight: bold;
}



#logokantoikoa{
	left: 10px;
	top: 10px;
	position: absolute;
	width: 90px;
	height: 100px;
}

#header {
	font-family:Arial, Helvetica, sans-serif;
	text-align: center;
	width:100%;
}

.nav{
	width:100%;
	background-color:#546191;
	text-align: center;
}

ul, ol {
	list-style:none;
}

.stats{
	margin-right:1px;
}

.nav > li {
	display: inline-block;
}

.nav li a {
	background-color:#546191;
	color:black;
	text-decoration: none;
	padding:10px 12px;
	display:block;
}

.nav li ul {
	display:none;
	position:absolute;
	min-width:140px;
}

.nav li:hover > ul {
	display:block;
}

.nav li ul li {
	position:relative;
}

.nav li ul li ul {
	right:-140px;
	top:0px;
}

div.polaroid {
	width: 80%;
	background-color: #D8D8D8;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 25px;
  }
  
  div.container {
	text-align: center;
	padding: 10px 20px;

